* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
  }

  body {
    background: #383838;
  }

  header {
    z-index: 100;
    color: white;
    background: #c5c5c5;
    padding: 20px;
    text-align: center;
  }

  header h1 {
    color: #1f1f1f;
    font-size: 40px;
  }

  header a img {
    padding-top: 20px;
    height: 120px;
    transition: all .5s;
  }

  header a img:hover {
    cursor: help;
    transform: translateY(7px);
  }
  
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  .left {
    left: 0;
  }
  .right {
    left: 50%;
  }
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .right::after {
    left: -16px;
  }
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }

  .content a {
    text-decoration: none;
    background: rgb(19, 180, 19);
    padding: 10px 23px;
    color: white;
    border-radius: 30px;
    transition: all .6s;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  }

  .content a:hover {
    border-radius: 20px;
    padding: 10px 60px;
    letter-spacing: 2.2px;
    background: rgba(24, 141, 24, 0.9);
    opacity: 0.8;
  }

  .content .disable {
    background: #a3a3a3;
  }
  .content .disable:hover {
    border-radius: 20px;
    padding: 10px 60px;
    letter-spacing: 2.2px;
    background: #9c9c9c;
    opacity: 0.8;
  }
  
  @media screen and (max-width: 600px) {
    .timeline::after {
    left: 31px;
    }
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
    .left::after, .right::after {
    left: 15px;
    }
    .right {
    left: 0%;
    }
}